<?php 
$_imgHelper = $this->helper('Lofmp\Auction\Helper\Image');
$helper = $this->helper('Lofmp\Auction\Helper\Data');
$_helper = $this->helper('Magento\Catalog\Helper\Output');

?>
<div id="auction-list-container" class="auc-list-container block widget"">
	<div class="auc-block-title">
		<h2><?php echo __('All Auctions'); ?></h2>
	</div>
	<div class="products wrapper grid products-grid">
		<ol class="products list items product-items">
			<?php 
			$i = 0;	
			foreach ($this->getAuction() as $key => $auction) { 
			$i++;
			$_product = $helper->getProductById($auction->getProductId()); 
			$data_auction = json_encode($this->getAuctionDetail($_product->getId()));
			$image_width = 240;	
			$image_height = 300;
			$_image = $_imgHelper->getImg($_product, $image_width, $image_height, 'category_page_grid');
			$auctionData = $auction->getData();
			$incVal = $helper->getIncrementPriceAsRange($auctionData['min_amount']);
            $auctionData['min_amount'] = $incVal ? $auctionData['min_amount'] + $incVal: $auctionData['min_amount'];
            if($auctionData['min_amount'] < $auctionData['starting_price']) {
                $auctionData['min_amount'] = $auctionData['starting_price'];
             }
			$today = $this->getToday();
			 $difference= strtotime($auctionData['stop_auction_time']) - strtotime($today);
			 $aucConfig = $helper->getAuctionConfiguration(); 
			$range_price = $auctionData['min_amount'];
			if($helper->getConfig('increment_option/enable')  && $auctionData['increment_opt']) {
			    $range = json_decode($helper->getConfig('increment_option/price_range'),true);
			    unset($range['__empty']);
			   
			    foreach ($range as $r => $_range) {
			        if($_range['from'] <= $auctionData['min_amount'] && $auctionData['min_amount'] <= $_range['to'] ) {
			            $range_price = $auctionData['min_amount'] + $_range['increment'];
			        }
			    }
			}
			if($difference > 0) {
			?>
			<li class="item product product-item">
				<div class="product-item-info">
					<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_image->getLabel() ?>" class="product-item-photo">
						<span class="product-image-container" style="width: <?php echo $image_width;?>px">
							<span class="product-image-wrapper" style="padding-bottom: 125%;">
								<img class="product-image-photo" src="<?php echo $_image->getUrl(); ?>" alt="<?php echo $_image->getLabel() ?>" width="<?php echo $image_width ?>" height="<?php echo $image_height ?>"/>
							</span>	
						</span>	
					</a>
					<div class="product details product-item-details">
						<div class="auc-product-info">
							<strong><a class="product-item-link" href="<?php echo $_product->getProductUrl() ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?></a></strong>
							<?php echo $block->getLofmpProductPriceHtml($_product, 'lofmp-productlist-' . time().rand() ) ?> 
						</div>
						<div class="auc-auction-container">
							<div class="auc-auction active">
								<div class="auc-auction-info">
									<div id="auctionbidform">
							            <ul class="list-group">
							                <?php if ($difference > 0) { ?>  
							                <li class="list-group-item"> 
							                    <div class="timeleftbox clearfix">
							                    <p id="count-down-auction<?php echo $key;?>"></p>
							                    </div>
							                </li> 
							                <?php } ?>
							                <?php if ($difference > 0) { ?> 
							                <li class="list-group-item">   
							                    <div class='lofmp_row'> 
							                    <?php 
							                    if ($aucConfig['show_curt_auc_price']) { ?>
							                        <span class='label'><?php echo __('Current Bid :'); ?></span>
							                        <strong class='value'>
							                        <?php echo $block->formatPrice($auctionData['min_amount']) ;?> 
							                        </strong>
							                    <?php } ?>
							                    <?php if ($aucConfig['show_auc_detail'] ) { ?>
							                        <span class="bid_link<?php echo $key;?>">[
							                            <a href="#" class='anchr'>
							                                <?php echo $block->getNumberOfBid($auctionData['entity_id']); ?>
							                            </a>]
							                        </span>
							                        <div id="lofmp_history_bid<?php echo $key;?>">
							                            <div class="auc-bid-history-container">
							                            	 <?php if($aucConfig['auction_rule']) { ?>
							                                <div class='auction_rule'>
							                                    <div class="label"><?php echo __('Auction Rule');?></div>
							                                    <p><?php echo $aucConfig['auction_rule']; ?></p>
							                                </div>
							                                <?php } ?>
							                                <table class="data table">
							                                    <thead>
							                                        <tr>
							                                             <th scope="col" class="col auc-history-bidder"><?php echo __('Bidder');?></th>
							                                             <th scope="col" class="col auc-history-date"><?php echo __('Date & Time');?></th>
							                                             <th scope="col" class="col auc-history-amount"><?php echo __('Amount');?></th>
							                                         </tr>
							                                    </thead>
							                                    <tbody>
							                                        <?php foreach ($this->getHistory($auction->getProductId()) as $k => $history) {
							                                            if($history->getAuctionAmount() < $this->getHistory($auction->getProductId())->getFirstItem()->getAuctionAmount() && $k > 0) {
							                                                if($this->getHistoryAuto($history->getCustomerId())->getAmount() >$history->getAuctionAmount()) {
							                                                    $auction_amount = $this->getHistoryAuto($history->getCustomerId(),$auction->getProductId())->getAmount().'<span class="auc-auto-bid-ico">'.__('Auto Bid').'</span>';
							                                                } else {
							                                                    $auction_amount = $history->getAuctionAmount();
							                                                }
							                                            } else {
							                                                $auction_amount = $history->getAuctionAmount();
							                                            }
							                                         ?>
							                                        <tr>
							                                            <td class="col auc-history-bidder"><?php 
							                                            if($aucConfig['show_bidder']) {
							                                                echo $helper->getCustomerById($history->getCustomerId())->getName();
							                                            } else {
							                                                 echo __('****'); 
							                                                 }?></td>
							                                            <td class="col auc-history-date"><?php echo $history->getCreatedAt();?></td>
							                                            <td class="col auc-history-amount"><?php echo $auction_amount;?></td>
							                                        </tr>
							                                        <?php } ?>
							                                    </tbody>
							                                </table>
							                            </div>
							                        </div>
							                        <script type="text/javascript">
							                            require(['jquery','Magento_Ui/js/modal/modal'],function($,modal) {
							                                

							                             var options<?php echo $key;?> = {
							                                        type: 'popup',
							                                        responsive: true,
							                                        innerScroll: true,
							                                        title: '<?php echo __('Bid History'); ?>',
							                                        buttons: [{
							                                            text: $.mage.__('Ok'),
							                                            class: '',
							                                            click: function () {
							                                                this.closeModal();
							                                            }
							                                        }]
							                                    };  
							                                var popup = modal(options<?php echo $key;?>, $('#lofmp_history_bid<?php echo $key;?>'));
							                                $(".bid_link<?php echo $key;?>").on('click',function(){ 
							                                    $("#lofmp_history_bid<?php echo $key;?>").modal("openModal");
							                                });
							                                 <?php if ($difference > 0) { ?>
							                                var countDownDate = new Date("<?php echo $auctionData['stop_auction_time'];?>".replace(/-/g, '/')).getTime();
												            var x = setInterval(function() {
												                var now = new Date().getTime();
												                var distance = countDownDate - now;
												                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
												                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
												                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
												                var seconds = Math.floor((distance % (1000 * 60)) / 1000);
												                document.getElementById("count-down-auction<?php echo $key;?>").innerHTML = '<span class="countdown_row countdown_show4"><span class="countdown_section"><span class="countdown_amount">'+days + "</span><br><?php echo __('Days'); ?></span><span class='countdown_section'><span class='countdown_amount'>" + hours + "</span><br><?php echo __('Hours'); ?></span><span class='countdown_section'><span class='countdown_amount'>"
												                + minutes + "</span><br><?php echo __('Minutes'); ?></span><span class='countdown_section'><span class='countdown_amount'>" + seconds + "</span><br><?php echo __('Seconds'); ?></span>"+'</span>'; 
												                if (distance < 0) {
												                    clearInterval(x);
												                    document.getElementById("count-down-auction<?php echo $key;?>").innerHTML = "EXPIRED";
												                }
												            }, 1000);
												            <?php  } ?>
							                            });
							                        </script>
							                    <?php } ?>
							                    </div>
							                </li>    
							               
							                <li class="list-group-item">    
							                    <div class="lofmp_wrap">
							                        <form action="<?php echo $block->getAuctionFormAction() ?>" enctype="multipart/form-data" method="post" class="mp_bidding_form" >
							                            <?php if ($aucConfig['auto_enable'] && $auctionData['auto_auction_opt']) { ?>
							                            <div class="input-box auto-bid" >
							                                <input type="checkbox" value="1" name="auto_bid_allowed" />
							                                <span><?php echo __('Place Bid as Automatic') ?></span>
							                            </div>
							                            <?php } ?>
							                            <div class="input-box">
							                            	<input type="hidden" name='data_auction' value='<?php echo $data_auction;?>' />
							                                <input type="text" value="<?php echo $range_price;?>" name="bidding_amount"  class="input-text required-entry mpbidding_amount" placeholder="Enter Bid Amount" required="required" oncut="return false;" oncopy="return false;" onpaste="return false;"/>
							                            </div>
							                            <button class="action primary" title="<?php echo __('Bidding') ?>" type="submit" >
							                                <span><?php echo __('Place Bid') ?></span>
							                            </button>
							                            <div class="auc-bid-note">
							                                <span><?php echo __('Enter %1 or more','<span class="price">'.$helper->getPriceFomat($range_price).'</span>');?></span>
							                            </div>
							                        </form>
							                    </div>
							                </li>    
							                <?php } ?>
							            </ul>
									</div>
								</div>	
							</div>
						</div>
					</div>
				</div>
			</li>
			<?php } 
			} ?>
		</ol>
		<?php if ($block->getPagerHtml()): ?>
        <div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
    	<?php endif ?>
	</div>
</div>