<?php

?>
<div>
	<div class="page-title">
		<div class="title_left">
	        <h3><?php echo __('Withdrawal'); ?></h3>
	    </div>
	</div>
	<div class="clearfix"></div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
                    <h2><?php echo __('Withdrawal Request'); ?></h2>
                    <div class="clearfix"></div>

        </div>
         <p>
          <strong><?php echo __('Your balance');?>:</strong> 
          <b class="value" style="color: #ff3333;"><?php echo $this->getPriceFomat($this->getAmount(),$this->getCurrentCurrencyCode()); ?></b>
        </p>
        <div class="x_content">
           <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th><?php echo __('Method'); ?></th>
                <th><?php echo __('Description'); ?></th>
                <th><?php echo __('Fee'); ?></th>
              </tr>
            </thead>
            <tbody>
              <?php foreach ($this->getPayment() as $key => $payment) { ?>
              <tr>
                <th scope="row"><?php echo $key; ?></th>
                <td><a href="<?php echo $this->getUrl('catalog/withdrawals/payment',['payment_id' => $payment->getData('payment_id')]); ?>"><?php echo $payment->getData('name'); ?></a></td>
                <td><?php echo $payment->getData('description'); ?></td>
                <td><?php echo $this->getPriceFomat($payment->getData('fee'),$this->getCurrentCurrencyCode()); ?></td>
              </tr>  
              <?php } ?>
            </tbody>
          </table>
        </div>
			</div>
		</div>
	</div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
                    <h2><?php echo __('Withdrawals History'); ?></h2>
                    <div class="clearfix"></div>
        </div>
         <p>
          <strong><?php echo __('Total Amount Received');?>:</strong> 
          <b class="value" style="color: #ff3333;"><?php echo $this->getPriceFomat($this->getTotalAmount(),$this->getCurrentCurrencyCode()); ?></b>
        </p>
        <div class="x_content">
          <table id="datatable" class="table table-striped table-bordered">
              <thead>
                <tr class="headings">
                  <th class="hidden"></th>
                  <th class="column-title"><?php echo __('ID');?> </th>
                  <th class="column-title"><?php echo __('Payment Method');?> </th>
                  <th class="column-title"><?php echo __('Amount');?> </th>
                  <th class="column-title"><?php echo __('Created');?> </th>
                  <th class="column-title"><?php echo __('Status');?> </th>
                  <th class="column-title"><?php echo __('View');?> </th>
                  
                </tr>
              </thead>
              <tbody>
                <?php
                  $withdrawals = $this->getWithdrawal()->getData();
                 krsort($withdrawals);
                $name_payment = "Paypal Adaptive Payment";
                 foreach ($withdrawals as $key => $withdrawal) {
                    foreach ($this->getPayment()->addFieldToFilter('payment_id',$withdrawal['payment_id']) as $k => $payment) {
                      
                      $name_payment = $payment->getData('name');
                    }
                ?>
                <tr class="even pointer">
                  <td class="hidden"></td>
                  <td class=" "><?php echo '#'.$withdrawal['withdrawal_id']; ?></td>
                  <td class=" "><?php echo $name_payment; ?></td>
                  <td class=" "><?php echo $this->getPriceFomat($withdrawal['amount'],$this->getCurrentCurrencyCode()); ?></i></td>
                  <td class=" "><?php echo $withdrawal['created_at']; ?></td>
                  <td class=" "><?php echo $this->getStatus($withdrawal['status']); ?></td>
                  <td class=" last"><a href="<?php echo $block->getUrl('catalog/withdrawals/viewtransaction', ['withdrawal_id' => $withdrawal['withdrawal_id']]); ?>">View</a></td>
                  
                </tr>
                <?php } ?>  
              </tbody>    
            </table>
          
        </div>
      </div>
    </div>
  </div>
</div>