<!--@subject  Approve Product @-->
{{template config_path="design/email/header_template"}}
Your product have been approved.
<p style="padding:20px 0 0 0;margin:0"><b>Do not reply to this email!</b></p>
<br>
<a style="color:#5ac17f" href="{{var data.url}}">Your link page seller</a>
{{template config_path="design/email/footer_template"}}