<!--@subject  Unapprove product @-->
{{template config_path="design/email/header_template"}}
Your product have been unapproved.
<p style="padding:20px 0 0 0;margin:0"><b>Do not reply to this email!</b></p>
<br>
{{template config_path="design/email/footer_template"}}