<?php

	$helper = $this->helper('Lof\MarketPlace\Helper\Data');
?>
<div class="page-title">
  <div class="title_left">
    <h3><?php echo 'Order'; ?></h3>
  </div>
</div>
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
	            <h2><?php echo 'Table Order'; ?></h2>
	            <div class="clearfix"></div>
	         </div>
	         <div class="x_content">
				<div class="table-responsive">
					<table id="datatable" class="table table-striped table-bordered">
						<thead>
	                      	<tr class="headings">
	                 			<th class="hidden"></th>
		                        <th class="column-title"><?php echo __('Order');?> </th>
		                        <th class="column-title"><?php echo __('Date');?> </th>
		                        <th class="column-title"><?php echo __('Customer Name');?> </th>
		                        <th class="column-title"><?php echo __('Grand Total');?> </th>
		                        <th class="column-title"><?php echo __('Discount Amount');?> </th>
	                            <th class="column-title"><?php echo __('Admin Commission');?> </th>
	                            <th class="column-title"><?php echo __('Seller Amount'); ?> </th>
	                            <th class="column-title"><?php echo __('Currency');?> </th>
	                            <th class="column-title"><?php echo __('Status');?> </th>
	                            
	                            <th class="column-title no-link last"><span class="nobr"><?php echo __('Action'); ?></span>
	                            </th>
	                            <th class="bulk-actions" colspan="7">
	                              <a class="antoo" style="color:#fff; font-weight:500;"><?php echo __('Bulk Actions');?> ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
	                            </th>
	                      	</tr>
	                    </thead>
	                    <tbody>
	                    <?php foreach ($this->getOrder()->setOrder('order_id', 'desc') as $key => $order) { 
	                    	$admin_commission = $order->getData('seller_product_total') - $order->getData('seller_amount');
	                    	$order_data = $this->getOrderData($order->getData('order_id'));
	                    	
	                    	?>
	    					<tr class="even pointer">
	    						<td class="hidden"></td>
	                            <td class=" ">#<?php echo $order_data->getId(); ?></td>
	                            <td class=" "><?php echo $this->formatDate(
								    $this->getOrderAdminDate($order_data->getData('created_at')),
								    \IntlDateFormatter::MEDIUM,
								    true
								);?></td>
	                             <td class=" "><?php echo $order_data->getData('customer_firstname').' '.$order_data->getData('customer_lastname'); ?></td>
	                            <td class=" "><?php echo $helper->getPriceFomat($order->getData('seller_product_total')); ?></i></td>
	                            <td class=" "><?php echo $helper->getPriceFomat($order->getData('discount_amount')); ?></i></td>
	                            <td class=" "><?php echo $helper->getPriceFomat($admin_commission); ?></td>
	                            <td class="a-right a-right "><?php echo $helper->getPriceFomat($order->getData('seller_amount')); ?></td>
	                            <td class=" "><?php echo $order->getData('order_currency_code'); ?></td>
	                            
	                            <td class=" "><?php echo $order_data->getData('status'); ?></td>
	                            
	                            <td class=" last"><a href="<?php echo $block->getUrl('catalog/sales/orderview', ['view' => $order->getData('order_id')]); ?>"><?php echo __('View'); ?></a>
			                </td>
	    					</tr>
	                    <?php } ?>  
	                    </tbody>      
					</table>
				</div>
			</div>
		</div>
	</div>
</div>